<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.katrina.myaddress"
    android:versionCode="1"
    android:versionName="1.0">

    <uses-sdk android:minSdkVersion="15"/>

    <application

        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        >

        <activity android:name=".MyAddressList">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider
            android:name=".MyAddressContentProvider"
            android:authorities="com.katrina.myaddress" />
        <activity android:name=".MyAddressDetailActivity"></activity>
        <activity android:name=".AboutActivity"></activity>
    </application>

</manifest>